/*** FORM ***/
/* Comment section
    ============================= */

    .post-comments{
        width: 80%;
        margin: 10rem 0 0 auto;
        padding-left: 7rem;
    }

    .post-comments .section-title{
        font-variant: small-caps;
    }

    /* Basic form
    ============================= */
:root{
    --color-black:#071629;
    --color-white:#fff;
    --color-grey:#a0a0a0;
    --color-grey:#f2f2f2;
}
    form{
        display: flex;
        flex-direction: column;
        padding: 1rem 0;
        margin: 0;
    }

    fieldset{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border: none;
        padding: 0 0 2rem;
    }

    label{
        cursor: pointer;
        display: block;
        white-space: nowrap;
        font-size: 1.4rem;
        padding: 0 0 .5rem;
    }

    input[type="text"],
    input[type="email"],
    textarea {
        position: relative;
        width: 100%;
        padding: 1.2rem;
        line-height: 1;
        border: .1rem solid var(--color-black);
        background-color: var(--color-white);
        box-shadow: none;
        outline: 0;
    }

    input[type="text"],
    input[type="email"]{
        padding-right: 3rem;
    }

    input[type="text"]:focus,
    input[type="email"]:focus,
    textarea:focus{
    border: .1rem solid var(--color-grey);
    background-color: var(--color-light-grey);
}

    ::placeholder{
        font-style: italic;
        font-size: var(--font-size-small);
    }